<html lang="en">
  <head>
    <title>Essential Web Components - Really Important - Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <style>
      .example { 
        color:purple!important;
        }
    </style>

    <script src="./really-important.js" type="module"></script>
    <really-important>
      <style>
        .example { 
          color:green;
        }
      </style>
    </really-important>
  </head>
  <body>
    <div class="example">This text will be green.</div>
  </body>
</html>
